{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">SuperDeliveryApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <!-- Button trigger modal -->
            <div class="ms-1">
                {% if request.user.is_authenticated %}
                    <ul class="nav mb-2">
                        <li class="nav-item">
                            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">{{ request.user }}</a>
                        </li>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary" role="button">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
