{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="tab-pane fade show active mt-2" id="nav-login" role="tabpanel">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            <p>{{ form.errors }}</p>
            {% endif %}
            <form url="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    {{ form.username}}
                    <!-- <input type="text" class="form-control" id="username"> -->
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    {{ form.password }}
                    <!-- <input type="password" class="form-control" id="password"> -->
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
{% endblock content %}
