{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container py-3">
        <h1>Hello!</h1>
        <p>Welcome to our Online Delivery Application</p>
        <p>Here you can select the category of the foods, you want to order</p>
    </div>
    <div class="container py-2">
        <h3>Categories</h3>
        <div class="row row-cols-1 row-cols-md-5 g-2">
            {% for category in productcategory_list %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text">{{ category.description }}</p>
                            <a href="{{ category.get_absolute_url }}" class="btn btn-primary">Lookup category</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}